html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

.logo-header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-ohmyfood {
    width: 197px;
}
.champ-de-selection {
    display: flex;
    background-color: #EAEAEA;
    justify-content: center;
    box-shadow: 0px 0px 18px 5px rgb(0,0,0,0.2);
    position: relative;
}

.city-input {
    border: none;
    background-color: #EAEAEA;
}

.icone-srch {
    margin-right: 10px;
}

.reservation {
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
}

.slogan {
    width: 275px;
    height: 68px;
}

.slogan2 {
    width: 315px;
    height: 46px;
}

.button_restaurants{
    display: flex;
    color: white;
    width: 218px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient( #FF79DA,#9356DC);
    border-color: lightgrey;
    align-items: center;
    justify-content: center;
    transition-property: transform;
    transition-duration: 400ms;
}

.button_restaurants:hover{
            transform: scale(1.15);
}

.fonctionnement {
    margin: 20px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.bloc-etapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.etapes {
    border-radius: 50px;
    position: relative;
    display: flex;
    width: 335px;
    height: 72.38px;
    background-color: rgb(232, 220, 220);
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.num {
    color: white;
    background-color: #9356DC;
    display: flex;
    border-radius: 100%;
    border: 2px solid #D9D9D9;
    padding: 10px;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -5px;
    align-items: center;
}

.fa-solid {
    margin-right: 25px;
    color: black;
}

.fa-arrow-left {
    color: black;
}

.fa-utensils{
    color: white;
}

.fa-handshake-angle{
    color: white;
}


.restaurants {
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #F6F6F6;
    padding-left: 20px;
    padding-right: 20px;

}

.restaurant-cards {
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
}


.restaurant-cards a {
    flex: 1;
}

.restaurant-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-content {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

a {
 text-decoration: none;
 color: white;
}

footer {
    padding: 20px;
    background-color: #353535;
    color: white;
}

.fa-store {
    color: #9c5bc8;
}

.logo-ohmyfood-footer{

    height: 27px;
    width: 139px;
    filter: invert(1);
}


.star:hover path{
    /* Modification du coeur au survol. Le contenu est modifié. */
    d: path("M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z");
    fill: url(#grad1);
}

.star{
    max-width: 22px;
    height: 21px;
    padding-right: 20px;
    fill:#353535 ;
}

.star path{
    fill: #353535;
    transition:all 1s ease
}

.arrow{
    padding: 15px;
    position: absolute;
    margin-left: 10px;
    font-size: x-large;
}

.img_rest{
    display: flex;
    flex-direction: column;
    height: 275px;
}

.menu_rest1{
    gap: 20px;
    display: flex;
    position: relative;
    background-color: #F6F6F6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.nom_rest1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plats{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 50px;
    padding: 15px;
    box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.1);
    
}

.plats_subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prix{
    padding-right: 15px;
    font-weight: bolder;
}

.commande{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button_commande{
    display: flex;
    color: white;
    width: 186px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient( #FF79DA,#9356DC);
    border-color: lightgrey;
    align-items: center;
    justify-content: center;
}

.menu_rest1 h3, .menu_rest1 h4, .menu_rest1 .prix{

    margin: 0;
}
  
h1{
    font-family: 'Shrikhand', serif;
  font-weight: 400;
  font-style: normal;
}

.sections_rest{
    margin: 0px;
    font-weight: unset;
    margin-top: 30px;
}

h4{
    font-weight: unset;
}

.underline_sections{
    width: 60px;
    background-color: #99E2D0;
    height: 5px;
    border: 0px;
    margin: inherit;
    margin-top: -10px;

}




/****** Media queries ***********/

/* Large devices (desktop) */

@media (min-width: 1440px) {

.champ-de-selection{
    box-shadow: 0px 0px 0px 0px;
}

.slogan {
    width: fit-content;
    height: 20px;
}
.slogan2{
    width: fit-content;
    height: 20px;
}
.bloc-etapes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.etapes{
    width: 400px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.footer-content img{

    order: 2;

}

.logo-ohmyfood-footer {
    padding-left: 100px;
}
}